/* Estilos generales */
html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    height: 100%; /* Asegura que el cuerpo y HTML ocupen el 100% de la ventana */
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    transition: background 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    background: #555;
    border-radius: 5px;
}

main {
    margin-top: 70px;
    padding: 20px;
    flex: 1; /* El contenido principal toma el espacio disponible */
}

.hero {
    text-align: center;
    background: #f4f4f4;
    padding: 50px 20px;
}

.about, .services, .news {
    margin: 20px auto;
    max-width: 1200px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-links a {
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #00aced;
}

img {
    width: auto; 
    height: auto; 
    
  }
  
  /* Estilo inicial para imágenes en la galería */
.gallery img.thumbnail {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease, width 0.3s ease;
    cursor: pointer;
}

/* Estilo para imágenes ampliadas al pasar el cursor */
.gallery img.thumbnail.zoomed {
    transform: scale(1.5);
    z-index: 10;
    position: relative;
}